$primary: #3dc94f;
$secondary: #0a3701;
$white:#F7F8F9;
$primary-light:#4efb4b33;
$primary-ex-light:#62fb4b1a;

$color-1:#21f34833;
$color-2:#fe636e33;
$color-3:#ccff4033;
$reviews-bg:#daffca;

$btn:#4dff5c;
 
$treatmentcardbg:#f9ffd7;
// dashboardcolor//////////////////////
$color-highlight: #abe41a;
$nav-link-hover-color: #ff3f40;
$colorwhite:#fff;
$dark :#070A2B;
$sliderbg :#209335;
$nav-link-hover-color:#1de41a;